[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
twine = "*"
flask-jsonrpc = "*"
sphinx = ">=5.3.0, <6.0.0"
sphinx-rtd-theme = ">=1.1.1"
sphinx-toolbox = "*"
# pygeonlp = {file = ".", editable = true}

[packages]
certifi = ">=2023.7.22"
chardet = "*"
cryptography = ">=42.0.4"
deprecated = "*"
flask = ">=2.2.5"
geographiclib = "*"
jageocoder = ">=2.0.0"
lxml = ">=4.9.1"
pipenv = ">=2022.1.8"
python-dateutil = "~=2.8.1"
requests = ">=2.32.0"
setuptools = ">=70.0.0"
urllib3 = ">=2.2.2"
werkzeug = ">=3.0.3"

[requires]
python_version = "3"

[scripts]
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --extend-ignore E501 ."
