[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
twine = "*"
flask-jsonrpc = "*"

[packages]
pipenv = "~=2021.5.29"
python-dateutil = "~=2.8.1"
requests = "*"
pygeonlp = {editable = true, path = "."}
geographiclib = "*"
jageocoder = ">=2.0.0"

[requires]
python_version = ">= 3.7, < 3.11"

[scripts]
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --extend-ignore E501 ."
