[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
twine = "*"
flask = ">=2.2.5"
werkzeug = ">=3.0.1"
flask-jsonrpc = "*"

[packages]
pipenv = ">=2022.1.8"
python-dateutil = "~=2.8.1"
requests = ">=2.31.0"
geographiclib = "*"
jageocoder = ">=2.0.0"
setuptools = ">=65.5.1"
chardet = "*"
lxml = ">=4.9.1"
certifi = ">=2023.7.22"
urllib3 = ">=2.0.7"

[requires]
python_version = "3"

[scripts]
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --extend-ignore E501 ."
