certifi==2024.2.2
chardet==5.2.0
cryptography==42.0.5
Deprecated==1.2.14
flask==3.0.3
geographiclib==2.0
jageocoder==2.1.2
lxml==5.2.1
python-dateutil==2.8.2
requests==2.31.0
urllib3==2.2.1
Werkzeug==3.0.2
