certifi==2024.7.4
chardet==5.2.0
cryptography==42.0.8
Deprecated==1.2.14
flask==3.0.3
geographiclib==2.0
jageocoder==2.1.7.post1
lxml==5.2.2
python-dateutil==2.8.2
requests==2.32.3
urllib3==2.2.2
Werkzeug==3.0.3
